body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body main {
  background: linear-gradient(127.6deg, #84d5c6 32.95%, #4b7eff 94.98%);
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  overflow: auto;
}

body main .content {
  animation: cssAnimation 0s ease-in 2s forwards;
  animation-fill-mode: forwards;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  height: 0;
  width: 0;
}

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top: 15px;
}

header .container {
  text-align: center;
  color: white;
  margin: 0 auto;
}

header h1 {
  font-family: "Cherry Swash", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 86px;
  margin-top: 35px;
  text-shadow: 4px 4px #00000040;
}

header .subheader {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

header h1,
header .subheader {
  margin: 0;
}

@keyframes cssAnimation {
  to {
    visibility: visible;
    height: unset;
    width: unset;
  }
}


/*Loader*/
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
.loader-container {
  animation: cssHideAnimation 0s ease-in 2s forwards;

}
@keyframes cssHideAnimation {
  to {
    visibility: hidden;
    height: 0;
    width: 0;
    display: none;
  }
}
.loader.small {
  margin: 10px auto;
  margin-top: 0;
  box-sizing: border-box;
  margin-left: 21px;
  font-size: 4px;
  line-height: 4px;
}
.loader.small, .loader.small:before, .loader.small:after {
  width: 10px;
  height: 10px;
}
/*Loader end*/

.grey {
  color: #b3b3b3;
}


.content {
  max-width: 310px;
}

.content .container {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px 20px;
  margin-bottom: 30px;
  text-align: center;
}

.content .container > div {
  margin-bottom: 20px;
}

.btn {
  background-color: #4b7eff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  height: 40px;
  border: 0;
  width: 100%;
  font-size: 14px;
  line-height: 19px;
  color: #f8f8f8;
  cursor: pointer;
}

.btn.red {
  background-color: #eb6b6b;
}

.btn[disabled] {
  background-color: #acb2c0;
  cursor: initial;
}

.info {
  color: white;
  text-align: center;
}

.offscreen {
  display: none;
}

.container.registration-form h2,
.container.registration-form > div {
  font-size: 18px;
  line-height: 21px;
  color: #0c0c0c;
}

.container.registration-form > div {
  font-weight: 300;
}

input[type="text"],
form select {
  appearance: none;
  display: block;
  background-color: #fff;
  box-shadow: inset 2px 2px 13px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  outline: none;
  resize: none;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  text-align: center;
  margin: 18px 0;
  border: 1px solid rgb(118, 118, 118);
}

form select:not(.hide-hints):invalid {
  border: 2px solid #eb6b6b;
}

form input[type="radio"] {
  display: none;
}

form input[type="radio"] + label {
  height: 100%;
}

#registration-success #profile,
img.hero-image,
form input[type="radio"] + label img {
  border-radius: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

form input[type="radio"]:checked + label img {
  border: 10px solid #008e86;
  box-sizing: border-box;
}

hr {
  background: #5e9bec;
  border: none;
  height: 2px;
  margin: 18px 0;
}

.btn.red.selected {
  background-color: transparent;
  color: #eb6b6b;
  text-decoration: underline;
  box-shadow: none;
}

#hero-image-save {
  margin: 18px 0;
}

#registration-success #registration-done {
  margin-top: 18px;
}
#registration-success #back-to-registration {
  font-size: 10px;
}

#user .user-age {
  opacity: .5;
}

#user {
  margin-bottom: 4px;
}

#school {
  font-size: 12px;
}

#find-friend form > div {
  margin-bottom: 25px;
}

#find-friend img {
  border-radius: 35px;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

#find-friend .description,
#find-friend .friend.description {
  background-color:transparent;
  box-shadow: none;
  border-radius: none;
  margin-bottom: 0;
  padding: 0;
  display: block;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}

#find-friend .friend.description + div {
  margin: 25px 0;
}

#find-friend .friend.description + div + .description {
  margin-bottom: 25px;
}

#find-friend .friend {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  align-items: center;
  text-align: left;
}

#find-friend .friend {
  font-size: 14px;
}

#find-friend .friend span {
  font-size: 12px;
  color: gray;
}

#find-friend input {
  display: none;
}
#find-friend input:checked + label .friend {
  background-color: #f6f6f6;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#find-friend .friend img {
  margin-right: 24px;
}


#find-friend .friend .school {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #D83D3D;
}

#like-limit,
#randimaker-overlay,
#csillag-disabled,
#registration-done-popup {
  background-color: rgba(120, 223, 255, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
}

#randimaker-overlay {
  background-color: rgb(255 232 232 / 80%);
}

#like-limit .fade,
#randimaker-overlay .fade,
#csillag-disabled .fade,
#registration-done-popup .fade {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#like-limit .container,
#randimaker-overlay .container,
#csillag-disabled .container,
#registration-done-popup .container {
  border-radius: unset;
  margin: 0;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 30px 20px;
  margin-bottom: 30px;
  text-align: center;
}

#like-limit .container div,
#randimaker-overlay .container div,
#csillag-disabled .container div,
#registration-done-popup .container div {
  margin: 20px 0;
  font-size: 24px;
}

#like-limit .container h2,
#randimaker-overlay .container h2,
#csillag-disabled .container h2,
#registration-done-popup .container h2 {
  font-size: 24px;
}

#csillag,
#feed {
  background-color: #f7f7f7;
  border-radius: unset;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  overflow: auto;
  padding: 30px 0;
  padding-bottom: 85px;
}

#csillag .feed-header,
#feed .feed-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  align-items: center;
  max-width: 92%;
  margin: auto;
}

#csillag > hr,
#feed > hr {
  max-width: 92%;
  margin: 18px auto;
}

#csillag .feed-header .logo,
#feed .feed-header .logo {
  font-family: Cherry Swash;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 85.6%;
  color: #6FB4DB;
  margin: 0px;
}

#csillag .likes-container,
#feed .likes-container {
  display: flex;
}

#csillag .likes-container svg,
#feed .likes-container svg {
  height: 16px;
  width: auto;
  margin-right: 4px;
}

#csillag .likes-container .comment,
#csillag .likes-container .likes,
#feed .likes-container .comment,
#feed .likes-container .likes {
  font-weight: 900;
  font-size: 12px;
  color: #4B7EFF;
}

#csillag .likes-container .comment,
#feed .likes-container .comment {
  margin-left: 14px;
}


#csillag .likes-container .like,
#feed .likes-container .like {
  border: none;
  background-color: transparent;
}


#csillag .feed-content,
#feed .feed-content {
  max-width: 84%;
  margin: auto;
}

#csillag .feed-content .feed.container .user-data,
#feed .feed-content .feed.container .user-data {
  display: flex;
  align-items: center;
}

#csillag .feed-content .feed.container .user-data img,
#feed .feed-content .feed.container .user-data img {
  height: 35px;
  width: 35px;
  border-radius: 20px;
  object-fit: cover;
  margin-right: 8px;
}

#csillag .feed-content .feed.container .user-data .text,
#feed .feed-content .feed.container .user-data .text {
  text-align: center;
}

#csillag .feed-content .feed.container .description,
#feed .feed-content .feed.container .description {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 10px;
}

#csillag .feed-content .feed.container .user-data .status,
#feed .feed-content .feed.container .user-data .status {
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  color: #EB6B6B;
  text-align: left;
}

#csillag .feed-content .feed.container > img,
#feed .feed-content .feed.container > img {
  max-width: 100%;
  border-radius: 10px;
}

#csillag .feed-content .feed.container .like-section,
#feed .feed-content .feed.container .like-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

#csillag .feed-content .feed.container .like-section button.like,
#feed .feed-content .feed.container .like-section button.like {
  border: none;
  background-color: transparent;
}

.menu {
  margin: 0 !important;
  background: linear-gradient(90.93deg, #84D5C6 24.55%, #4B7EFF 82.95%);
  border-radius: 10px 10px 0px 0px;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu .svg {
  flex: 1;
  border-right: 1px solid #FFFFFF;
  position: relative;
}

.menu .svg:last-child {
  border: none;
}

.menu .after.svg:after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: yellow;
  position: absolute;
  margin: -5px;
}

#feed .user {
  max-width: 84%;
  margin: auto;
}

#feed .user .first,
#feed .user .second {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#feed .user .first img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 20px;
}

#feed .user .first input {
  margin: 0;
  max-width: 75%;
}

#feed .user .second {
  margin-top: 4px;
  margin-bottom: 20px;
}

#feed .user .second > div {
  display: flex;
  align-items: center;
}

#feed .user .second > div .name {
  margin-right: 10px;
}

#feed .user .second .btn {
  max-width: 100px;
  height: 30px;
  line-height: 30px;
  display: block;
}

#chat-head img {
  height: 75px;
  width: 75px;
  border-radius: 35px;
  object-fit: cover;
  position: fixed;
  top: 30%;
  right: 0;
  border: 8px solid #4B7EFF;
  box-sizing: border-box;
}

#meme-maker.container,
#randi-chat.container,
#chat.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  padding-bottom: 65px;
  margin: 0;
  border-radius: 0;
}

#meme-maker.container .content,
#randi-chat.container .content,
#chat.container .content {
  margin: 0 !important;
  animation: none;
  max-width: unset;
  visibility: visible;
  width: auto;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

#randi-chat.container .content .header,
#chat.container .content .header{
  padding: 15px;
  padding-bottom: 0;
}

#randi-chat.container .content h1,
#chat.container .content h1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

#randi-chat.container .content hr,
#chat.container .content hr {
  background-color: #84D4C6;
}

#randi-chat.container .content .messages,
#chat.container .content .messages {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

#randi-chat.container .content .messages.remove-flex-end,
#chat.container .content .messages.remove-flex-end {
  justify-content: unset;
}

#randi-chat.container .content .messages.remove-flex-end .messages-container,
#chat.container .content .messages.remove-flex-end .messages-container {
  display: block;
}

#randi-chat.container .content .messages .messages-container,
#chat.container .content .messages .messages-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#randi-chat.container .content .messages .message,
#chat.container .content .messages .message {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  height: min-content;
}

#randi-chat.container .content .messages .message.sent,
#chat.container .content .messages .message.sent {
  flex-direction: row-reverse;
}

#randi-chat.container .content .messages .message > div,
#chat.container .content .messages .message > div {
  background: #59C3F0;
  border-radius: 10px;
  padding: 10px;
  max-width: 80%;
  text-align: left;
  height: min-content;
}

#randi-chat.container .content .messages .message > div {
  background: #CB2323;
  color: white;
}

#randi-chat.container .content .messages .message > div > img,
#chat.container .content .messages .message > div > img {
  height: auto;
  width: 100%;
  border-radius: 10px;
}

#randi-chat.container .content .messages .message.sent > div,
#chat.container .content .messages .message.sent > div {
  background: #D9D9D9;
}

#randi-chat.container .content .messages .message img,
#chat.container .content .messages .message img {
  object-fit: cover;
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

#randi-chat.container .content footer .interaction,
#chat.container .content footer .interaction {
  display: flex;
  align-items: center;
  padding: 15px 5px;
}

#randi-chat.container .content footer input,
#chat.container .content footer input {
  margin: 0;
}

#randi-chat.container .content footer .btn,
#chat.container .content footer .btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  min-width: 40px;
  margin-left: 5px;
}

#randi-chat.container .content footer .answer,
#chat.container .content footer .answer {
  padding: 10px;
}

#randi-chat.container .content footer hr,
#chat.container .content footer hr {
  margin: 0;
}

#randi-chat.container .content footer .explanation,
#chat.container .content footer .explanation {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #A3A3A3;
  text-align: left;
}

#chat.container .content footer .option,
#chat.container .content footer .option {
  background-color: #fff;
  border-radius: 10px;
  outline: none;
  border: none;
  resize: none;
  min-height: 40px;
  width: 100%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 13px rgb(0 0 0 / 25%);
  margin-top: 5px;
  cursor: pointer;
  text-align: left;
}

#chat.container .content footer .answer.delay,
#chat.container .content footer .answer,
#chat.container .content footer .option .message,
#chat.container .content footer .option img {
  display: none;
}

#chat.container .content footer .answer:not(.offscreen):not(.delay):nth-child(1),
#chat.container .content footer .option .message.sent {
  display: block;
}

#csillag .csillag-container {
  margin: 0;
}

#csillag .csillag-container .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#csillag .csillag-container img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 30px;
}

#csillag .csillag-container .personal-data {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #0C0C0C;
}

#csillag .csillag-container .personal-data .age {
  color: #9C9C9C;
}

#csillag .csillag-container .personal-data .likes-container.csillag {
  justify-content: center;
  margin-top: 6px;
}

#csillag .csillag-container .sorry {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #9C9C9C;
  max-width: 100px;
}

#csillag .csillag-container .school,
#csillag .csillag-container .music {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #0C0C0C;
  margin-top: 10px;
}
#csillag .csillag-container .btn {
  margin: auto;
  margin-top: 10px;
  width: 200PX;
  height: 40px;
  line-height: 40px;

}

#csillag-profile-link-chat {
  cursor: pointer;
}

#meme-maker.container {
  padding: 0;
}

#meme-maker.container  h1 {
  color: #E10000;
  font-size: 48px;
  margin: 15px 0;
}

#meme-maker form input[type="radio"][name="meme-image"] + label {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #EB6B6B;
}

#meme-maker form input[type="radio"][name="meme-image"] + label div {
  margin-bottom: 20px;
}

#meme-maker form input[type="radio"][name="meme-image"] + label {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #EB6B6B;
  margin-bottom: 10px;
}

#meme-maker.container  hr {
  background-color: #E10000;
}

#meme-maker.container  .header {
  margin-bottom: 18px;
}

#meme-maker.container .content {
  overflow: auto;
  padding-bottom: 30px;
}

#meme-maker.container .content form,
#meme-maker.container .content .header {
  width: 90%;
  margin: 0 auto;
}

#meme-maker.container .content form {
  text-align: left;
  padding-bottom: 30px;
}

#meme-maker.container .content form .title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

#meme-maker form input[type="radio"] + label img {
  width: 100%;
  max-width: 335px;
  margin: auto;
}

#meme-maker form input[type="radio"]:checked + label img {
  border: 10px solid #E10000;
}

#meme-maker .btn.red:not([disabled]) {
  background-color: #E72C2C;
}

#meme-maker .img-wrapper {
  position: relative;
}

#meme-maker .img-wrapper .selected-text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  max-width: 320px;
  box-sizing: border-box;
  margin: auto;
}

#meme-maker img {
  border-radius: 10px;
  width: 100%;
  max-width: 335px;
  height: 200px;
  margin: auto;
  object-fit: cover;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 25%);
}

#meme-maker form input[type="radio"][name="meme-text"] + label .meme-text {
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

#meme-maker form input[type="radio"][name="meme-text"] + label .like {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #EB6B6B;
  margin-top: 4px;
  margin-bottom: 10px;
}

#meme-maker form input[type="radio"][name="meme-text"]:checked + label .meme-text {
  border: 10px solid #E10000;
}

#meme-maker .image-selected .title {
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  max-width: 335px;
  margin: auto;
  margin-top: 18px;
  margin-bottom: 5px;
  text-align: left;
}

#meme-maker.container .content {
  justify-content: start;
}


#meme-maker .meme-final-likes {
font-weight: bold;
font-size: 20px;
line-height: 26px;
color: #EB6B6B;
text-align: left;
width: 100%;
max-width: 335px;
margin: auto;
margin-top: 5px;
margin-bottom: 20px;
}

#meme-share {
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
}

#feed .img-wrapper {
  position: relative;
}

#feed .img-wrapper img {
  border-radius: 10px;
  width: 100%;
  margin: auto;
  object-fit: cover;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 25%);
}

#feed .img-wrapper .selected-text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

#feed .likesPopup {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  top: 90px;
  left: 5%;
  right: 5%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#end:not(.offscreen) {
  position: fixed;
  top: 0;
  border: 0;
  left: 0;
  right: 0;
  background-color: #E5E5E5;
  height: 100%;
  font-family: Cherry Swash;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 126.1%;
  text-align: center;
  color: #6FB4DB;
  display: flex;
  justify-content: center;
  align-items: center;
}